<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
<!--
<link rel='stylesheet' href='/stylesheets/login.css' />
<link rel='stylesheet' href='/stylesheets/welcome.css' />
-->
<div class="button jelly_button" id='log_out'>
  <p>Log out</p>
</div>
<input type="file" id="upload" name="filename" >

<label class="switch-label">
  
  <input type="checkbox" class="switch"  type="checkbox" id ="report2" >
  <span class="slider">report2</span>
  
</label>
<label class="switch-label" style="left: 41vw;" >
  
  <input class="switch"  type="checkbox"  id ="report3"  >
  <span class="slider">report3</span>
</label>
<label class="switch-label" style="left: 29vw;" >
  
  <input type="checkbox"  class="switch"  type="checkbox"  id ="report1">
  <span class="slider">report1</span>
</label>
{{!-- <div class="button" , id='upload'>
  <p>upload</p>
</div> --}}
{{!-- <label for="inputId">file dialog</label>
<input id="inputId" type="file" style="position: fixed; top: -100em"> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.1.0/base64.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
<script  src="/javascripts/welcome/processor.js" type="text/javascript"></script>
<script  src="/javascripts/welcome/up.js" type="text/javascript"></script>
<script  src="/javascripts/welcome/welcome.js" type="text/javascript"></script>
<script  src="/javascripts/welcome/toggle_buttons.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/danfojs@0.2.4/lib/bundle.min.js"></script>
